div.media_page {
    
}

table {
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

th {
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

td {
    border-color: black;
    border-width: 1px;
    border-style: solid;
}