form.new_media_form {
    position: relative;
    padding: 20px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}