body {
    margin: 0px;
}

table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

th {
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

td {
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

input {
    box-sizing: border-box;
    width: 100%;
}

div.actionpanel {
    display: flex;
    flex-direction: column;
    width: 100%;
}

div.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 20px;
}

div.dialog a {
    float: right;
}

div.panel {
    width: fit-content;
    height: fit-content;
    display: block;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 20px;
}

#media_actionbar {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}